@using E_ShoppingMVC.Models.ViewModels
@model PaginatedList<CategoryModel>
@{
    ViewData["title"] = "Quản lý danh mục sản phẩm";
}

<div class="col-sm-12 col-xs-12 content pt-3 pl-0">
    <h5 class="mb-0"><strong>@ViewData["title"]</strong></h5>
    <span class="text-secondary">Prodcuts Manager <i class="fa fa-angle-right"></i> Categories</span>

    <div class="mt-4 mb-4 p-3 bg-white border shadow-sm lh-sm">
        <!--Order Listing-->
        <div class="product-list">

            <div class="row border-bottom mb-4">
                <div class="col-sm-6 pt-2"><h6 class="mb-4 bc-header">Categories Listing | <a asp-action="Index" style="color: #555">Back to Full List</a></h6></div>
                <div class="col-sm-6 pb-3 d-flex justify-content-end">
                    
                    <form class="d-inline" asp-action="Index" method="get" asp-controller="Category">
                        <input type="text" class="col-sm-9 form-control d-inline btn-round" name="searchString" value="@ViewData["CurrentFilter"]" />
                        <button type="submit" class="btn btn-round"><i class="fa fa-search"></i></button>
                    </form>
                    <a class="btn btn-success icon-round shadow pull-right d-inline" asp-action="Create" asp-controller="Category">
                        <i class="fas fa-plus"></i>
                    </a>
                    
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="table-responsive product-list">

                <table class="table table-bordered table-striped mt-3" id="productList">
                    <thead>
                        <tr>
                            <th><a asp-action="Index" asp-routte-currentFilter="@ViewData["CurrentFilter"]"  asp-route-sortOrder="@ViewData["IdSortParm"]" >ID<i class="ml-1 fas fa-sort"></i></a></th>
                            <th><a asp-action="Index" asp-routte-currentFilter="@ViewData["CurrentFilter"]"  asp-route-sortOrder="@ViewData["NameSortParm"]" >Category Name<i class="ml-1 fas fa-sort"></i></a></th>
                            <th><a asp-action="Index" asp-routte-currentFilter="@ViewData["CurrentFilter"]"  asp-route-sortOrder="@ViewData["ParentSortParm"]" >Category Parent<i class="ml-1 fas fa-sort"></i></a></th>
                            <th>Desciption</th>
                            <th>Slug</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td class="align-middle">
                                    @item.Name
                                </td>
                                @if (item.ParentCategory == null)
                                {
                                    <td class="align-middle">
                                        Null
                                    </td>
                                }
                                else
                                {
                                    <td class="align-middle">
                                        @item.ParentCategory.Name
                                    </td>
                                }

                                <td class="align-middle">@Html.Raw(@item.Description)</td>
                                <td>@item.Slug</td>
                                <td class="align-middle text-center">
                                    <a class="btn btn-success" asp-action="Edit" asp-controller="Category" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a>
                                    <button class="btn btn-danger" onclick="confirmDelete(@item.Id)"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                                              
                    </tbody>
                </table>
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }
                <a  asp-action="Index" 
                    asp-route-sortOrder="@ViewData["CurrentSort"]"
                    asp-route-PageNumber="@(Model.PageIndex-1)"
                    asp-route-currentFilter ="@ViewData["CurrentFilter"]"
                    class="btn btn-default @prevDisabled"
                    style="color: #555"
                >
                    Previous
                </a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-PageNumber="@(Model.PageIndex+1)"
                        
                   class="btn btn-default @nextDisabled"
                   style="color: #555">
                    Next
                </a>
                <div>
                   
                </div>
            </div>
        </div>
    </div>

</div>
<!--DeleteModal-->
<div id="deleteModal" class="modal fade bd-example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title text-secondary"><strong> Confirm delete</strong></h5>
                <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-justify">
                <p>Bạn chắc chắn muốn xóa danh mục này.</p>
                <p>Lưu ý điều này sẽ ảnh hưởng đến những sản phẩm liên quản đến danh mục này, hãy cẩn trọng!!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="confirmDeleteButton" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
<!--Default modal-->
@section Scripts{
    <script>
        var deleteId;
        function confirmDelete(Id) {
            deleteId = Id;
            $('#deleteModal').modal('show');
        }
        $('#confirmDeleteButton').click(function () {
            $.ajax({
                type: 'POST',
                url: 'Category/Delete',
                data: { id: deleteId },
                success: function (response) {
                    if (response.success) {
                        window.location.reload();
                    } else {
                        alert("An error deleting");
                    }
                }
            });
        });


    </script>
}