@using E_ShoppingMVC.Areas.Admin.Models.ViewModels
@model SizeAndColorViewModel
@{
    ViewData["title"] = "Quản lý cỡ";
}

<div class="col-sm-12 col-xs-12 content pt-3 pl-0">
    <h5 class="mb-0"><strong>@ViewData["title"]</strong></h5>
    <span class="text-secondary">Prodcuts Manager <i class="fa fa-angle-right"></i> Attribute</span>

    <div class="mt-4 mb-4 p-3 bg-white border shadow-sm lh-sm">
        <!--Order Listing-->
        <div class="product-list">

            <div class="row border-bottom mb-4">
                <div class="col-sm-8 pt-2"><h6 class="mb-4 bc-header">Sizes Listing</h6></div>
                <div class="col-sm-4 pb-3">
                    <form class="d-inline" asp-action="Index" asp-controller="Size">
                        <input type="text" class="col-sm-9 form-control d-inline btn-round" name="keyword" placeholder="Tìm kiếm @TempData["keyword"]" />
                        <button type="submit" class="btn btn-round"><i class="fa fa-search"></i></button>
                    </form>
                    <a class="btn btn-success icon-round shadow pull-right d-inline" asp-action="CreateNewColor" asp-controller="Attribute">
                        <i class="fas fa-plus"></i>
                    </a>

                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="table-responsive product-list">

                <table class="table table-bordered table-striped mt-3" id="productList">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Color's Name</th>
                            <th>Color' Hexcode</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Colors)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td class="align-middle">
                                    @item.Name
                                </td>
                                <td class="align-middle" style="background-color: @item.HexCode">@item.HexCode</td>

                                <td class="align-middle text-center">
                                    <a class="btn btn-success" asp-action="EditColor" asp-controller="Attribute" asp-route-id="@item.Id"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-danger" asp-action="DeleteColor" asp-controller="Attribute" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="product-list">

            <div class="row border-bottom mb-4">
                <div class="col-sm-8 pt-2"><h6 class="mb-4 bc-header">Categories Listing</h6></div>
                <div class="col-sm-4 pb-3">
                    <form class="d-inline" asp-action="Index" asp-controller="Size">
                        <input type="text" class="col-sm-9 form-control d-inline btn-round" name="keyword" placeholder="Tìm kiếm @TempData["keyword"]" />
                        <button type="submit" class="btn btn-round"><i class="fa fa-search"></i></button>
                    </form>
                    <a class="btn btn-success icon-round shadow pull-right d-inline" asp-action="CreateSize" asp-controller="Attribute">
                        <i class="fas fa-plus"></i>
                    </a>

                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="table-responsive product-list">

                <table class="table table-bordered table-striped mt-3" id="productList">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var size in Model.Sizes){
                            <tr>
                                <td>@size.Id</td>
                                <td>@size.Name</td>
                                <td class="align-middle text-center">
                                    <a class="btn btn-success" asp-action="EditSize" asp-controller="Attribute" asp-route-id="@size.Id"><i class="fa fa-pencil"></i></a>
                                    <a class="btn btn-danger" asp-action="DeleteSize" asp-controller="Attribute" asp-route-id="@size.Id"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
